@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --white: #fff;
    --dkwhite: #bfbfbf;
    --grey-white: #ababab;
    --white-9c9c9b: #9c9c9b;
    --yellow: #fcbf1e;
    --balck: #000;
    --blue-40bad5: #40bad5;
    --light-black-111111: #111111;
    --light-black: #222222;
    --light-black-333333: #333333;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav-show {
    /* visibility: visible !important;
     */
    height: 100vh !important;
}

#main-header {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 40px;
    z-index: 999;
    transition: all ease-in-out 0.4s;
}

#main-header.sticky {
    padding: 4px 0;
    background-color: var(--balck);
}

.header-container {
    width: 1140px;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
    align-items: center;
}

/* logo start */
.logo {
    flex-shrink: 1;
}

.logo a {
    color: var(--white);
    text-decoration: none;
}

#col-changer-logo.scicky {
    color: blue;
    padding-top: 600px;
}

/* logo end */
/* 1st navigation menu start */
.navigation-menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 10px 0 30px;
    transition: all .2s linear;
}

.navigation-menu ul li {
    list-style: none;
    display: inline-block;
    padding-left: 15px;
}

.navigation-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--grey-white);
    transition: all 0.5s ease;
}

.navigation-menu ul li a:hover {
    color: var(--yellow);
}

/* 2nd navigation menu end */
/* 3rd nav start */
.Serch-icon-number {
    width: auto;
    font-size: 17px;
    color: var(--white);
}

.Serch-icon-number a {
    padding: 0 15px 0 5px;
    text-decoration: none;
    color: var(--white);
}

.favi-number {
    padding-right: 5px;
}

.Serch-icon-number a:hover {
    color: var(--yellow);
    /* transition: all 0.s ease;
     */
}

/* responsive button show when width 990px */
.responsive-header-button {
    display: none;
}

#nav-toggler-btn {
    background: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 3px;
    padding: 3px 7px;
    transition: all .3s ease;
    cursor: pointer;
}

#nav-toggler-btn:hover {
    color: var(--orange);
    border-color: var(--orange);
}

/* header end here */
/* banner start */
#main-slider {
    width: 100%;
    position: relative;
    top: 0;
    /* background-color: var(--balck);
     */
}

.banner-container1 {
    background: url(../res/1st-banner.jpg) center no-repeat;
    /* 1st image container */
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

.banner-container2 {
    background: url(../res/2st-banner.jpg) center no-repeat;
    /* 2nd image container */
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

.banner-container3 {
    background: url(../res/3rd-banner.jpg) center no-repeat;
    /* 3rd image container */
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

/* the light black overlayer */
.banner-overlayer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    margin: auto;
}

.owl-dots {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}

/* for the dots corlor changing */
.owl-carousel span {
    background: var(--white) !important;
}

.owl-carousel span:hover {
    background: var(--yellow) !important;
}

.owl-carousel .active span {
    background: var(--yellow) !important;
}

.banner-box {
    height: 300px;
    width: 700px;
    /* background-color: #9d5454;
     */
    position: absolute;
    top: 30%;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
}

.banner-box h3 {
    font-size: 55px;
    color: var(--white);
    text-transform: uppercase;
    padding-bottom: 20px;
}

.banner-box p {
    padding-bottom: 40px;
    color: var(--grey-white);
}

.banner-box a button {
    color: var(--white);
    height: 50px;
    width: 190px;
    font-size: 15px;
    font-weight: 700;
    box-sizing: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: var(--blue-40bad5);
    border: none;
}

.banner-box a button:hover {
    background-color: var(--yellow);
}

/* slider banner end here */
/* where do you want to go form start */
#where-do-you-want-to-go-form {
    background-color: var(--light-black-111111);
    width: 100%;
    height: auto;
    padding-top: 90px;
}

.form-container {
    width: 1111px;
    height: auto;
    padding-bottom: 50px;
    margin: auto;
    /* background-color: #2c2b2b;
     */
}

.form-heading {
    text-align: left;
}

.form-heading h1 {
    font-size: 35px;
    color: var(--white);
}

.form-heading p {
    padding-top: 15px;
    font-size: 17px;
    color: var(--white);
    line-height: 25px;
}

.form-box {
    /* background-color: #797676;
     */
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-top: 40px;
}

.form-input {
    width: 31%;
    color: var(--grey-white);
    font-weight: 700;
    line-height: 30px
}

input[type="text"] {
    width: 100%;
    height: 45px;
    color: var(--grey-white);
    font-weight: 700;
    font-size: 15px;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
}

select {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    color: var(--grey-white);
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label {
    color: var(--grey-white);
    font-weight: 700;
    line-height: 30px
}

.form-duration,
.form-date,
.submit-button {
    margin-top: 15px;
    color: var(--grey-white);
    width: 31%;
}

input[type="duration"],
input[type="date"] {
    width: 100%;
    height: 45px;
    border: none;
    color: var(--grey-white);
    padding-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button {
    width: 31%;
}

.submit-button a button {
    width: 100%;
    height: 45px;
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    background-color: var(--blue-40bad5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.submit-button a button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

/* form end here */
/* visiting placees start here */
#visiting-place-showcase {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.showcase-container-one {
    width: auto;
    height: 800px;
    background: url(../res/1st-image-showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.first-container-showcase-text {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50%;
    padding-left: 10%;
}

.first-container-showcase-text p {
    width: 80%;
}

.first-container-showcase-text h3 a,
.second-container-showcase-text h3 a {
    font-size: 25px;
    color: var(--white);
    transition: all 0.5s ease;
    text-decoration: none;
}

.first-container-showcase-text h3 a:hover,
.second-container-showcase-text h3 a:hover {
    color: var(--yellow);
}

.first-container-showcase-text p,
.second-container-showcase-text p {
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.3;
    color: var(--dkwhite);
}

.showcase-container-two {
    width: auto;
    height: 800px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.showcase-container-two-box-one {
    background: center no-repeat url(../res/2nd-image-showcase.jpg);
    background-size: cover;
}

.showcase-container-two-box-two {
    background: center no-repeat url(../res/3rd-image-showcase.jpg);
    background-size: cover;
}

.showcase-container-two-box-three {
    background: center no-repeat url(../res/4th-image-showcase.jpg);
    background-size: cover;
}

.showcase-container-two-box-four {
    background: center no-repeat url(../res/5th-image-showcase.jpg);
    background-size: cover;
}

.second-container-showcase-text {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 230px 10% 0 10%;
    text-align: left;
}

/* places showcase end here */
/* Travling destination section start*/
.travlining-destination-section {
    width: 100%;
    height: auto;
    background-color: var(--light-black);
    padding-top: 40px;
    padding-bottom: 50px;
}

.travlining-destination-container {
    width: 1100px;
    height: auto;
    margin: auto;
}

.travlining-destination-heading-box {
    padding-bottom: 60px;
}

.travlining-destination-heading-box h2 {
    color: var(--white);
    font-size: 34px;
    padding-bottom: 10px;
}

.travlining-destination-heading-box p {
    color: var(--grey-white);
    line-height: 24px;
}

.travlining-destination-content-box {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

.travlining-destination-content-one,
.travlining-destination-content-two,
.travlining-destination-content-three {
    height: 500px;
    width: auto;
    background-color: var(--light-black-333333);
    border-radius: 10px;
    padding: 5px;
}

.travlining-destination-content-image-box {
    width: auto;
    height: 98%;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.travlining-destination-content-image-box img {
    width: 100%;
    height: 203px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.travlining-destination-content-image-box a {
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.blog-date {
    padding: 10px 0 50px 0;
}

.post-date {
    float: left;
}

.post-date-right {
    float: right;
}

.post-date,
.post-date-right {
    font-size: 16px;
    color: #9c9c9b;
}

.para p {
    color: var(--dkwhite);
    font-size: 17px;
    line-height: 27px;
}

.visiting-price {
    padding-top: 10%;
}

.visiting-price h5 {
    float: left;
    color: var(--blue-40bad5);
    font-size: 18px;
}

.visiting-price a button {
    float: right;
    border-radius: 20px;
    border: none;
    width: 30px;
    height: 30px;
    color: var(--white);
    background-color: var(--light-black);
    cursor: pointer;
    transition: all 0.5s ease;
}

.visiting-price a button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

/* traviling destination sec end here */
/* Exclusive vacation Package start */
.exclusive-vacation-package-section {
    background-color: var(--light-black-111111);
    width: 100%;
    height: auto;
    padding: 40px 0;
}

.vacation-package-container {
    width: 1140px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    grid-gap: 40px;
}

.vacation-pakage-image-box {
    background: url(../res/nziland.jpg) no-repeat center;
    background-size: 100% 100%;
    width: 50%;
    height: 363px;
    border-radius: 10px;
}

.vacation-pakage-text-box {
    text-align: left;
    width: 50%;
}

.vacation-pakage-text-box h6 {
    font-size: 18px;
    color: var(--white-9c9c9b);
    padding-bottom: 25px;
}

.vacation-pakage-text-box h4 {
    font-size: 35px;
    text-transform: capitalize;
    padding-bottom: 20px;
    color: var(--white);
}

.vacation-pakage-text-box p {
    font-size: 16.5px;
    color: var(--white-9c9c9b);
    padding-bottom: 48px;
    text-align: left;
}

.vacation-pakage-text-box a button {
    width: 139px;
    height: 49px;
    background-color: var(--blue-40bad5);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}

.vacation-pakage-text-box a button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

/* Exclusive vacation Package end */
/* second banner */
.second-banner {
    width: 100%;
    height: auto;
    background: url(../res/3rd-banner.jpg) no-repeat center;
    background-size: cover;
}

.second-banner-overlayer {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.second-banner-container {
    width: 1140px;
    height: 550px;
    margin: auto;
    text-align: center;
}

.second-banner-container h3 {
    color: var(--white);
    padding-top: 10%;
    font-size: 50px;
    line-height: 60px;
    text-transform: capitalize;
    font-weight: 700;
}

.second-banner-container p {
    font-size: 17px;
    line-height: 30px;
    max-width: 600px;
    margin: 25px auto 0px;
    color: var(--dkwhite);
    padding-bottom: 40px;
}

.second-banner-container a button {
    padding: 0px 30px;
    color: var(--white);
    height: 55px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
    transition: 0.3s ease-in;
    background-color: var(--blue-40bad5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.second-banner-container a button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

/* second banner end her */
/* footer start */
footer {
    width: 100%;
    height: auto;
    background-color: var(--light-black);
    padding-top: 60px;
}

.footer-container {
    width: 1140px;
    height: 260px;
    margin: auto;
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    justify-content: space-between;
}

.footer-box-one,
.footer-box-two,
.footer-box-three,
.footer-box-four {
    height: 226px;
    width: auto;
    /* background-color: grey;
     */
    display: flex;
    flex-direction: column;
}

.footer-box-one h6,
.footer-box-two h6,
.footer-box-three h6,
.footer-box-four h6 {
    font-size: 20px;
    color: var(--white);
    margin-bottom: 20px;
    font-weight: 600;
}

.footer-box-one {
    background-color: transparent;
    flex: 0 0 30%;
}

.footer-box-one p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #aaa;
}

.footer-box-one li {
    padding-top: 10px;
    list-style: none;
}

.footer-box-one li a {
    font-size: 16px;
    line-height: 25px;
    color: var(--grey-white);
    text-decoration: none;
}

.footer-box-one li a:hover {
    color: var(--yellow);
}

.social-media {
    padding-top: 15px;
    display: flex;
    grid-gap: 10px;
}

.social-media a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    width: 35px;
    height: 37px;
    color: #777;
    transition: 0.3s;
    border-radius: 4px;
}

#facebook-icon:hover {
    background-color: #3b5998;
    color: white;
}

#twitter-icon:hover {
    color: white;
    background-color: #1da1f2;
}

#instagram-icon:hover {
    color: white;
    background-color: #c13584;
}

#google-icon:hover {
    color: white;
    background-color: #b43030;
}

#linkdin-icon:hover {
    color: white;
    background-color: #0077b5;
}

.footer-box-two {
    background-color: transparent;
    flex: 0 0 15%;
}

.footer-box-two ul li {
    list-style: none;
    padding-bottom: 10px;
}

.footer-box-two ul li a {
    text-decoration: none;
    color: #aaaaaa;
    font-weight: 400;
    font-size: 17px;
    transition: 0.3s ease;
}

.footer-box-two ul li a:hover {
    color: #fff;
}

.footer-box-three {
    width: auto;
    flex: 0 0 30%;
}

.footer-box-three h6 {
    margin-bottom: 25px;
}

.footer-images-collection {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.footer-images-collection a {}

.footer-images-collection a img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/* footer box 4 */
.footer-box-four {
    flex-shrink: 0 0 15%;
}

.footer-box-four ul li {
    list-style: none;
    padding-bottom: 10px;
}

.footer-box-four ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #aaaaaa;
    transition: 0.3s ease;
}

.footer-box-four ul li a:hover {
    color: #fff;
}

/* footer fourth box end */
.line {
    width: 85%;
    height: 1px;
    background-color: #454545;
    margin: auto;
}

.copyright-box {
    padding: 30px 0 50px 0;
    width: fit-content;
    margin: auto;
    color: #aaaaaa;
}

/* responsive 1200px */
@media (max-width: 1200px) {
    .header-container {
        width: 90%;
    }

    .logo {
        flex-shrink: 0;
        width: 20%;
    }

    .navigation-menu {
        width: 80%;
        flex-grow: 0;
    }

    .form-container {
        width: 90%;
    }

    .travlining-destination-container {
        width: 95%;
    }

    .vacation-package-container {
        width: 90%;
    }

    .second-banner-container {
        width: 90%;
    }

    .footer-container {
        width: 80%;
    }
}

/* responsive 990px */
@media (max-width: 990px) {
    #main-header {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .header-container {
        position: relative;
        width: 100%;
        margin: auto;
    }

    .logo {
        padding-left: 70px;
        width: max-content;
    }

    .navigation-menu.sticky {
        background-color: #000;
    }

    .navigation-menu {
        width: 100%;
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        filter: invert(1px);
        text-align: center;
        display: block;
    }

    .navigation-menu ul {
        width: 100%;
    }

    .navigation-menu ul li {
        display: block;
        padding: 10px 0;
    }

    .navigation-menu ul li a {
        color: rgb(43, 255, 0);
    }

    .Serch-icon-number {
        width: 100%;
    }

    .Serch-icon-number a {
        margin: 10px auto;
        width: fit-content;
        display: block;
        color: rgb(0, 255, 55);
    }

    .responsive-header-button {
        display: block;
        padding-right: 90px;
    }

    /* toggle sidebar */
    .banner-box {
        top: 20%;
    }

    .form-container {
        width: 70%;
    }

    #visiting-place-showcase {
        grid-template-columns: 100%;
        width: auto;
        height: auto;
    }

    .showcase-container-two-box-one {
        order: 1;
        width: auto;
        height: auto;
    }

    .showcase-container-two-box-two {
        order: 2;
        width: auto;
        height: auto;
    }

    .showcase-container-two-box-three {
        order: 3;
        width: auto;
        height: auto;
    }

    .showcase-container-two-box-four {
        order: 4;
        width: auto;
        height: auto;
    }

    .travlining-destination-heading-box {
        width: 83%;
        margin: auto;
    }

    .travlining-destination-content-box {
        grid-template-columns: 40% 40%;
    }

    .vacation-package-container {
        flex-direction: column;
        width: 60%;
        margin: auto;
    }

    .vacation-pakage-image-box {
        width: 100%;
    }

    .vacation-pakage-text-box {
        width: 100%;
    }

    .second-banner-container {
        width: 100%;
    }

    .footer-container {
        width: 70%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    .footer-box-one,
    .footer-box-two,
    .footer-box-three,
    .footer-box-four {
        flex: 0 0 40%;
    }

    .footer-box-three {
        flex: 0 0 55%;
    }

    .line {
        width: 71%;
    }
}

/* responsive 770px */
@media (max-width: 770px) {
    .header-container {
        width: 100%;
    }

    #main-slider {
        height: auto;
    }

    .banner-container1,
    .banner-container2,
    .banner-container3 {
        width: 100%;
        height: 500px;
    }

    .banner-overlayer {}

    .banner-box {
        height: auto;
        top: 25%;
        width: 80%;
    }

    .banner-box h3 {
        font-size: 40px;
    }

    .form-box {
        flex-direction: column;
        width: auto;
    }

    .form-input,
    .form-duration,
    .form-date,
    .submit-button {
        width: 100%;
        padding-bottom: 10px;
    }

    .travlining-destination-content-one,
    .travlining-destination-content-two,
    .travlining-destination-content-three {
        height: auto;
        padding-bottom: 20px;
    }

    .travlining-destination-content-box {
        grid-template-columns: 65%;
    }

    .travlining-destination-content-image-box {
        height: auto;
    }

    .travlining-destination-content-image-box img {
        width: 100%;
        height: 60%;
    }
}

@media (max-width: 570px) {
    .header-container {
        width: 100%;
        padding: 0 20px;
    }

    .logo {
        padding: 0 0;
    }

    .responsive-header-button {
        padding-right: 0;
    }

    .banner-box {
        width: 90%;
    }

    .form-container {
        width: 95%;
    }

    .showcase-container-two {
        height: auto;
    }

    .second-container-showcase-text {
        padding-bottom: 10%;
    }

    .travlining-destination-content-box {
        grid-template-columns: 90%;
    }

    .travlining-destination-content-one {
        height: auto;
    }

    .travlining-destination-content-image-box img {}

    .vacation-pakage-text-box {
        text-align: left;
        width: 95%;
        align-self: center;
    }

    .vacation-package-container {
        width: 95%;
    }

    .second-banner-overlayer {
        height: 400px;
    }

    .second-banner-container {
        height: auto;
    }

    .second-banner-container h3 {
        font-size: 35px;
        line-height: 40px;
    }

    .footer-container {
        width: 90%;
        grid-row-gap: 50px;
    }

    .footer-box-one {
        flex-basis: 60%;
        height: auto;
    }

    .footer-box-two {
        flex-basis: 30%;
        height: auto;
    }

    .footer-box-three {
        flex: 0 0 60%;
        height: auto;
    }

    .footer-box-four {
        flex-basis: 30%;
        height: auto;
    }

    .footer-images-collection {
        height: auto;
        width: auto;
        grid-template-columns: auto auto auto;
    }

    .line {
        width: 90%;
    }
}

/* responsive 480px */
@media (max-width: 480px) {
    .showcase-container-one {
        height: 250px;
    }

    .first-container-showcase-text {
        padding-top: 20%;
        padding-left: 5%;
    }

    .showcase-container-two {
        grid-template-columns: auto;
    }

    .showcase-container-two-box-one,
    .showcase-container-two-box-two,
    .showcase-container-two-box-three,
    .showcase-container-two-box-four {
        height: 250px;
    }

    .second-container-showcase-text {
        padding-top: 20%;
    }

    .footer-container {}

    .footer-box-one {
        flex-basis: 100%;
        order: 1;
    }

    .footer-box-two {
        order: 2;
    }

    .footer-box-three {
        order: 4;
        flex-basis: 100%;
    }

    .footer-box-four {
        order: 3;
    }

    .copyright-box {
        width: 90%;
        text-align: center;
    }
}

/* responsive 256px */
@media (max-width: 356px) {
    .banner-box h3 {
        font-size: 30px;
    }

    .copyright-box {
        width: 90%;
        text-align: center;
    }

    .owl-dots {
        display: none;
    }
}